/* DARK THEME VARIABLES */
:root{
    --color-background:whitesmoke;
    --color-hover:#333;
    --color-white:white;
    --color-dark:gray;
    --color-icon:white;
}

.dark-theme-variables{
    --color-background:#181a1e;
    --color-white:#202528;
    --color-hover:#edeffd;
    --color-dark:white;
    --color-icon:black;
    --color-light:rgba(0, 0, 0, 0.4);
    box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    width: 100vw;
    height: 130vh;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: blue;
}
img{
    display: block;
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: auto 19rem;
    width: 100%;
    margin: 0 auto;
    gap: 0rem;
}
/* FOR ANY PFORFILE PICTURE */
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: gray;
}

.primary{
    color: red;
}
.primary{
    color: green;
}
.primary{
    color: yellow;
}
.primary{
    color: blue;
}
.warning{
    color: orangered;
}




aside{
    height: 100vh;
    width: 15%;
    background: var(--color-background);
    position: fixed;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

aside .top{
    background: var(--color-background);
    display: flex;
    align-items: center;
    padding: 0 0 0 .5rem;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo h2{
    font-size: 1.4rem;
    color: var(--color-hover);
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .close #closebtn{
    display: none;
    text-align: center;
    margin-left: .5rem;
    margin-right: .3rem;
    margin-top: -.5rem;
    font-size: 1.5rem;
    padding: .3rem 11px;
    font-weight: bold;
    transition: all 1s ease;
}

aside .close #closebtn:hover{
    border-radius: 100px;
    background: var(--color-hover);
    cursor: pointer;
}

aside .close #openbtn{
    display: none;
}

aside .close .reduce{
    display: none;
}

aside .close .add{
    display: inline-block;
    text-align: center;
    margin-left: .5rem;
    margin-right: .3rem;
    margin-top: -.5rem;
    font-size: 1.5rem;
    padding: .3rem 11px;
    font-weight: bold;
    transition: all 1s ease;
}

aside .close #openbtn:hover{
    border-radius: 100px;
    background: var(--color-hover);
    cursor: pointer;
}







/*********** FOR SIDENAV  **********/
aside #nav{
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 2rem;
}

aside h3{
    font-weight: 500;
    font-size: 0.87rem;
}

aside #nav a{
    color: var(--color-hover);
    display: flex;
    margin-left: 2rem;
    align-items: center;
    gap: 1rem;
    position: relative;
    height: 3rem;
    transition: all 300ms ease;
}

aside #nav a i{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside #nav a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside #nav a.active{
    background: var(--color-dark);
    color: var(--color-white);
    margin-left: 0;
}

aside #nav a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: purple;
}

aside #nav a.active i{
    color: purple;
    margin-left: calc(1rem - 3px);
}

aside #nav a:hover{
    color: purple;
}

aside #nav a:hover i{
    margin-left: 1rem;
}

aside #nav .message-count{
    background: red;
    color: white;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 3px;
}








/*************************MAIN **************************/
main{
    height: 100vh;
    margin-top: 1.4rem;
    padding-left: 14rem;
    color: var(--color-hover);
}

main .date{
    display: inline-block;
    background: gray;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem 1.1rem;
}

main .date input[type='date']{
    border: none;
    background: transparent;
    color: rgb(120, 143, 206);
}

main .insights{
    display: grid;
    padding-right: .8rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}


main .insights > div{
    background: var(--color-white);
    padding: .7rem;
    border-radius: 10px;
    margin-top: 1rem;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
}

main .insights > div:hover{
    cursor: pointer;
    box-shadow: none;
}
 
main .insights > div i{
    background: blueviolet;
    padding: 0.5rem;
    border-radius: 50px;
    color: white;
    font-size: 2rem;
}

main .insights > div.expenses i{
    background: red;
}

main .insights > div.income i{
    background: green;
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0 .6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height: 100px;
    border-radius: 50px;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}


main .insights svg circle{
    fill: none;
    stroke: blueviolet;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    /* stroke-dasharray: 112;
    stroke-dashoffset: 92; */
}

main .insights .track svg circle{
    stroke-dasharray: 200;
    stroke-dashoffset: -30;
}

main .insights .expenses svg circle{
    stroke-dasharray: 80;
    stroke-dashoffset: 20;
}

main .insights .income svg circle{
    stroke-dasharray: 110;
    stroke-dashoffset: 35;
}

main .insights .progress .number{
    position: absolute;
    top: -.5rem;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .insights small{
    margin-top: 1.3rem;
    display: block;
}





/**************** RECENT ORDERS **************/
main .recent-orders{
    margin-top: 2rem;
    margin-right: .8rem;
}

main .recent-orders h2{
    margin-bottom: 0.8rem;
}

main .recent-orders table{
    background: var(--color-white);
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
}

main .recent-orders table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid grey;
    color: var(--color-hover);
}

main table tbody td:hover{
    cursor: pointer;
}

main table tbody tr:last-child td{
    border: none;
}

main .recent-orders a{
    text-align: center;
    display: block;
    color: var(--color-hover);
    margin: 1rem auto;
}

.message p{
    font-size: small;
}




/****************** RIGHT ***************/
.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    gap: 1rem;
}

.right .top button{
    display: none;
}

.right .theme-toggler{
    display: flex;
    background: var(--color-hover);
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.right .theme-toggler i{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    color: var(--color-icon);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler i.active{
    background: blueviolet;
    border-radius: 5px;
}


.right .top .profile{
    display: flex;
    gap: .8rem;
}

.right .top .profile .info p{
    background: blueviolet;
    color: white;
    font-size: .7rem;
}



/************ RECEnT UPDATE *************/
.right .recent-updates{
    margin-top: 1rem;
    color: var(--color-hover);
}

.right .recent-updates h2{
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates{
    margin-right: 2rem;
    background: var(--color-white);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
}

.right .recent-updates .updates:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}



/***************** SALES ANALYTIXS **************/
.right .sales-analytics{
    margin-top: 2rem;
    margin-right: 2rem;
    color: var(--color-hover);
}

.right .sales-analytics h2{
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.7rem;
    padding: 1.4rem 1.2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
}

.right .sales-analytics .item:hover{
    box-shadow: none;
}

.right .sales-analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon{
    padding: 0.6rem;
    color: white;
    border-radius: 50%;
    background: purple;
    display: flex;
}

.right .sales-analytics .item.offline .icon{
    background: red;
}

.right .sales-analytics .item.customers .icon{
    background: green;
}

.right .sales-analytics .add-product{
    background-color: transparent;
    border: 2px dashed blueviolet;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

.right .sales-analytics .add-product:hover{
    color: white;
    cursor: pointer;
    background: blueviolet;
    border: none;
}

.right .sales-analytics .add-product > div{
    display: flex;
    gap: 0.6rem;
    align-items: center ;
}

.right .sales-analytics .add-product > div h3{
    font-size: .8rem;
}

.right .sales-analytics .right .info h3{
    font-size: .6rem;
    font-weight: bold;
}

.right .sales-analytics .right h3{
    font-size: .8rem;
}