@media screen and (max-width: 767px){
    aside{
        width: 14rem;
        z-index: 3;
        display: none;
        left: -100%;
        animation: showMenu 600ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .close #closebtn{
        display: inline-block;
    }

    aside .logo{
        margin-left: .1rem;
    }

    aside .logo h2{
        display: inline;
        font-size: 1.2rem;
    }

    aside #nav h3{
        display: inline;
    }

    aside #nav i{
        width: 1rem;
    }

    aside #nav a{
        width: 100%;
        height: 3.5rem;
    }




    /* FOR BODY */
    body{
        width: auto;
    }
    #togglebutton{
        display: inline-block;
        font-size: 2.5rem;
        background-color: white;
        width: 100%;
        padding: .7rem 0;
    }

    #toggleBtn{
        display: inline-block;
        font-size: 2rem;
    }

    .body{
        padding-left: .5rem;
        padding-right: .5rem;
        padding-top: 1rem;
        width: 100%;
    }

    .body .bodyContent .bodyContentLinks{
        flex-direction: column;
        gap: 2rem;
    }

    .body .bodyContent .bodyContentLinks div:last-child{
        margin-right: 0rem;
    }
}